<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/style.css"/>



<div class="memeBois">
    <ul>
        <li th:each="file : ${files}">

            <p th:if="${file.endsWith('jpg')}">
                <img th:src="${file}" />
            </p>

            <p th:if="${file.endsWith('png')}">
                <img th:src="${file}" />
            </p>

            <p th:if="${file.endsWith('jpeg')}">
                <img th:src="${file}" />
            </p>



        </li>
    </ul>
</div>
</html>